temp
.CFUserTextEncoding
.DS_Store
.TabNine/
.Trash/
.Xauthority
.anyconnect
.aws/
.bash_history
.cache/
.cisco/
.config/
.cups/
.dlv/
.dotfiles/
.emacs.d/
.fasd
.gitconfig
.gnupg/
.helm/
.iterm2/
.iterm2_shell_integration.zsh
.k9s/
.krew/
.kube/
.lesshst
.local/
.node-gyp/
.npm/
.nvm/
.oh-my-zsh/.editorconfig
.oh-my-zsh/.github/
.oh-my-zsh/.gitignore
.oh-my-zsh/.gitpod.Dockerfile
.oh-my-zsh/.gitpod.yml
.oh-my-zsh/CODE_OF_CONDUCT.md
.oh-my-zsh/CONTRIBUTING.md
.oh-my-zsh/LICENSE.txt
.oh-my-zsh/README.md
.oh-my-zsh/SECURITY.md
.oh-my-zsh/lib/
.oh-my-zsh/oh-my-zsh.sh
.oh-my-zsh/plugins/
.oh-my-zsh/templates/
.oh-my-zsh/themes/
.oh-my-zsh/tools/
.p10k.zsh
.ssh/
.terraform.d/
.vim/
.viminfo
.voltapp/
.vscode/
.wget-hsts
.yarnrc
.zcompdump
.zcompdump-slcm-nweight-5.7.1
.zcompdump-slcm-nweight-5.8
.zsh_history
.zsh_sessions/
.zshrc_bak
.zshrc_new
Applications/
Brewfile.lock.json
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
go/
iCloud Drive (Archive)/
repos/
sandbox/
