[tools]
eza = "latest"
fzf = "latest"
ripgrep = "latest"
zoxide = "latest"
bat = "latest"
fd = "latest"
delta = "latest"
shellcheck = "latest"
"ubi:aristocratos/btop" = "latest"
"ubi:leg100/pug" = "latest"
k9s = "latest"
neovim = "latest"
