[tools]
eza = "latest"
fzf = "latest"
ripgrep = "latest"
zoxide = "latest"
bat = "latest"
fd = "latest"
delta = "latest"
shellcheck = "latest"
btop = "1.3.0"
k9s = "latest"
neovim = "latest"
rust = "latest"
cargo-binstall = "latest"
"cargo:atuin" = "latest"
