[tools]
eza = "latest"
fzf = "latest"
ripgrep = "latest"
zoxide = "latest"
bat = "latest"
fd = "latest"
node = "lts"
python = "3.12"
go = "1.22"
rust = "latest"
direnv = "latest"
delta = "latest"
shellcheck = "latest"
"ubi:aristocratos/btop" = "latest"
"ubi:leg100/pug" = "latest"
"ubi:tofuutils/tenv" = "latest"
"ubi:carapace-sh/carapace-bin" = { version = "latest", exe = "carapace" }
"cargo:atuin" = "latest"
k9s = "latest"
neovim = "latest"
