#!/bin/sh

XDG_ZSH="$HOME/.config/zsh"
mkdir -p "$XDG_ZSH"

if command -v atuin >/dev/null 2>&1; then
  atuin init zsh >"$XDG_ZSH/atuin-env.zsh"
  atuin gen-completions --shell zsh >"$XDG_ZSH/_atuin.zsh"
fi

if command -v carapace >/dev/null 2>&1; then
  carapace _carapace zsh >"$XDG_ZSH/_carapace.zsh"
fi

if command -v tenv >/dev/null 2>&1; then
  tenv completion zsh >"$XDG_ZSH/_tenv.zsh"
fi

if command -v k9s >/dev/null 2>&1; then
  k9s completion zsh >"$XDG_ZSH/_k9s.zsh"
fi

if command -v cargo >/dev/null 2>&1; then
  cargo completions zsh >"$XDG_ZSH/_cargo.zsh"
fi

if command -v direnv >/dev/null 2>&1; then
  direnv hook zsh >"$XDG_ZSH/_direnv.zsh"
fi

if command -v fzf >/dev/null 2>&1; then
  fzf --zsh >"$XDG_ZSH/_fzf.zsh"
fi

if command -v zoxide >/dev/null 2>&1; then
  zoxide init --cmd cd zsh >"$XDG_ZSH/_zoxide.zsh"
fi

echo "[INFO] Shell integrations generated."
