#!/bin/sh

# Ensure XDG base directories
mkdir -p "$HOME/.config"
mkdir -p "$HOME/.local/share"
mkdir -p "$HOME/.cache"
mkdir -p "$HOME/.local/state"

# Subfolders for configs
mkdir -p "$HOME/.config/zsh"
mkdir -p "$HOME/.config/aws"

# Subfolders for data
mkdir -p "$HOME/.local/share/cargo"
mkdir -p "$HOME/.local/share/rustup"

echo "[INFO] XDG folders set up successfully."
