#!/bin/sh

# Check if mise is installed
if ! command -v mise >/dev/null 2>&1; then
  echo "[INFO] Installing mise..."
  curl -sSfL https://mise.jdx.dev/install.sh | sh
else
  echo "[INFO] mise already installed."
fi

# Install tools defined in .mise.toml
echo "[INFO] Installing tools from .XDG_CONFIG_HOME/mise/config.toml..."
mise install
